<p>student-update works!</p>
<form>
    <!-- <div>
        <label for="IDInput" > ID:</label>
        <input class="form-control " type="text" id="" name="IDInput" [(ngModel)]="nStd.Id"/>
    </div> -->
    <div>
        <label for="nameInput" >Name:</label>
        <input class="form-control " type="text" id="" name="nameInput" [(ngModel)]="nStd.name"/>
    </div>
    <div>
        <label for="capInput" >Age:</label>
        <input class="form-control " type="text" id="" name="capInput" [(ngModel)]="nStd.age"/>
    </div>
    <div>
        <label for="capInput" >Address:</label>
        <input class="form-control " type="text" id="" name="capInput" [(ngModel)]="nStd.adddress"/>
    </div>
    <input class="btn btn-success" value="Edit" type="submit" (click)="Edit()" />
</form>