<section style="background-color: #eee;">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../assets/Rectangle 43.png" alt="" width="200px">
                
            </div>
            <div class="col-lg-6">
                <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore provident optio nesciunt! Magni amet dolorem impedit praesentium in deserunt, aperiam ex eius cumque perspiciatis ullam exercitationem nemo, maxime ducimus est quis delectus facere dignissimos sapiente saepe! Sequi non, atque necessitatibus magni, distinctio cumque velit vero quia culpa tempore reiciendis aliquam sint repudiandae perferendis similique, soluta magnam nulla rem dolore. Eligendi saepe nemo quidem aspernatur obcaecati nisi odit reprehenderit, aliquam ipsa fugit voluptatem.</p>
            </div>
        </div>
    </div>
</section>


<footer  style="background-color: #56b0f1;">
    <div class="container  p-5">
        <div class="row">
            <div class="col-lg-4">
                <img src="../../../assets/empty-mail.png" alt="" srcset="">
            </div>
            <div class="col-lg-4">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact us</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3>Some words about Us</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam accusantium sequi
                     laboriosam vitae similique temporibus beatae 
                     cupiditate distinctio alias culpa.
                    </p>
            </div>
        </div>
    </div>
</footer>
